html, body {
	height: 100%;
	background: #FCFCFC;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
}

.plugins-sidebar {
	background: #F6F6F6;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 300px;
	box-shadow: 0 0 2px rgba(0,0,0,0.2), -1px 0 0 0 rgba(0,0,0,0.2) inset;
	z-index: 3;
}

.plugins {
	position: absolute;
	top: 49px;
	left: 0;
	bottom: 0;
	width: 299px;
	overflow-x: hidden;
	overflow-y: auto;
}

.plugins h2 {
	font-size: 14px;
	padding: 10px 15px;
	margin: 0;
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	background: #F6F6F6;
	border-bottom: 1px solid #DDD;
	position: relative;
	z-index: 2;
}

.plugins h2 .close, .plugins h2 .expand {
	float: right;
	font-weight: bold;
	font-size: 22px;
	line-height: 22px;
	margin: -2px -5px 0 0;
}

.plugins h2 .expand {
	color: #999;
	display: none;
}

.plugins h2.selected {
	border: none;
	box-shadow: 0 2px 2px rgba(0,0,0,0.15);
}

.plugins h2:hover {
	background: #EEE;
}

.plugins h2:hover .expand {
	display: block;
}

.plugins ul {
	background: #FAFAFA;
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
	z-index: 1;
}

.plugins ul li {
	padding: 10px 15px;
	font-size: 12px;
	text-shadow: 0 1px 0 #FFF;
	border-bottom: 1px solid #DDD;
	cursor: pointer;
}

.plugins ul li a {
	display: none;
	text-decoration: none;
	color: #4183C4;
	font-weight: bold;
}

.plugins ul li em {
	font-weight: normal;
	font-style: normal;
	font-size: 10px;
	color: #444;
	padding: 5px 0 0 0;
	display: none;
}

.plugins ul li.selected {
	padding: 10px 15px 10px 10px;
	border-left: 5px solid #86BBEF;
	background: #FFF;
	cursor: default;
}

.plugins ul li.selected a {
	display: block;
}

.plugins ul li.selected span {
	display: none;
}

.plugins ul li.selected em {
	display: block;
}

.plugins ul li:hover {
	background: #EEE;
}

.plugins ul li.selected:hover {
	background: #FFF;
}

.search {
	position: absolute;
	top: 0;
	left: 0;
	right: 1px;
	padding: 8px;
	height: 32px;
	background: #F6F6F6;
	border-bottom: 1px solid #DDD;
}

.search input {
	border: none;
	box-shadow: 0 1px 2px rgba(0,0,0,0.3) inset;
	padding: 8px;
	border-radius: 5px;
	width: 268px;
	color: #999;
	font-style: italic;
}

.search input:focus {
	font-style: normal;
	color: #666;
}

.plugins-content {
	background: #FFF;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 300px;
	right: 0;
	bottom: 0;
	z-index: 1;
}

#default {
	padding: 35px 20px;
	font-size: 18px;
	position: relative;
	overflow: visible;
}

#default p:before {
	content: '';
	float: left;
	margin: 0 10px;
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-right: 24px solid #333;
	border-bottom: 12px solid transparent;
}